# 1. if you've installed with pip, Exec should just work, else modify to
#    contain full nvpy invocation, for example "python /full/path/nvpy.py"
# 2. make sure Icon is pointing to correct file. The example below is
#    correct if you've used pip on an ubuntu system
# 3. install this desktop file with:
#    xdg-desktop-menu install vxlabs-nvpy.desktop

[Desktop Entry]
Version=1.0
Type=Application
Name=nvPY
Comment=Cross-platform simplenote-syncing note-taking tool
Exec=nvpy
Icon=/usr/local/lib/python2.7/dist-packages/nvpy/icons/nvpy.gif
Categories=Utility;
Terminal=false
StartupNotify=true
StartupWMClass=nvPY

